version: "3.9"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: delivro
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:latest
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio12345
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

  minio-init:
    image: minio/mc
    restart: "no"
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        echo 'Waiting for MinIO...';

        until (mc alias set local http://minio:9000 minio minio12345); do
          echo '...MinIO is not ready yet, retrying in 2s';
          sleep 2;
        done;
        echo 'MinIO is up, creating bucket if needed...';
        mc mb --ignore-existing local/invoices;
        echo 'Bucket invoices is ready.';
      "

volumes:
  db_data:
  minio_data:
